h1 
{
    color: aqua;
}

p{
    color: aquamarine;
}

main {
    background-color: red;
}

.header{
    background-color: whitesmoke;
}
.header li {
    display: inline-block;
    padding: 10px;
  }
  
  .header a {
    color: #4A4A4A;
  }
  
  a.home {
    color: #4D00FF;
  }