html {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #F2F2F2;
  text-align: center;
}

div {
  border: 10px solid red;
  margin: auto 50px;
  padding: 100px
}


p {
  color: black;
}

a {
  color: black;
}

main {
  background-color: red;
}

.header {
  background-color: rgb(255, 255, 255);
  text-align: left;
  border: blue solid 10px;
  padding: 100px 50px;
  margin: auto 50px;
}

.header img {
  width: 200px;
  height: 200px;
  align-self: ;
}

a.home {
  color: #4D00FF;
}

.about_me,
.hobbies,
.education {
  background-color: #4D00FF;
}

.about_me p {
  color: #F2F2F2;
  border-bottom: #F2F2F2 1px solid;
  border-top: #F2F2F2 1px solid;
}

.hobbies a,
.education a {
  color: #F2F2F2;
}

.about_me h2,
.hobbies h2,
.education h2 {
  color: #F2F2F2;
}

.work_experience {
  background-color: #F2F2F2;
}